.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form > input,
.form > button {
  padding: 0.5rem;
  width: 100%;
  border-radius: 20px;
  font-size: 1.05rem;
  border: 1px solid var(--red-soft);
  background: transparent;
  color: white;
}
.form > input::placeholder {
  color: var(--white);
  opacity: 0.6;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.form > .btn-submit {
  cursor: pointer;
  background-color: var(--red-soft);
  font-weight: bold;
  transition: 0.3s;
}

.form > .btn-submit:hover {
  background-color: var(--red);
}
