.main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  width: 400px;
  margin-top: 5rem;
}

.main-form-ctn {
  width: 100%;
}

.user-welcome {
  color: var(--white);
  text-align: center;
}

.container-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@media screen and (max-width: 450px) {
  .main-home {
    width: 100%;
    gap: 1.2rem;
    margin: 0 auto;
  }

  .user-welcome {
    margin-top: 4.5rem;
  }

  .container-cards {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 1010px) {
  .container-cards {
    margin-bottom: 0rem;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    border: 1px solid var(--red-dark);
    border-radius: 10px;
  }
  .container-cards::-webkit-scrollbar {
    width: 8px;
  }
  .container-cards::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .container-cards::-webkit-scrollbar-thumb {
    background-color: var(--red-dark);
    border-radius: 10px;
  }
  .container-cards::-webkit-scrollbar-thumb:hover {
    background: var(--red);
  }

  .main-home {
    flex-direction: row;
    width: 900px;
    gap: 5rem;
  }
}

@media screen and (min-width: 2048px) {
  .main-home {
    width: 1500px;
    gap: 12rem;
  }
}
