.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--red-dark-2);
  border-radius: 10px;
  margin-bottom: 1.1rem;
  color: var(--white);
}

.btn-trash,
.btn-edit {
  color: var(--red-soft);
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 0.7rem;
}
.btn-trash:hover,
.btn-edit:hover {
  color: var(--red);
}

@media screen and (min-width: 2048px) {
  .card {
    padding: 1rem 1.5rem;
  }
}
