.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background: var(--white);
  color: var(--red);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: var(--red-dark-2);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--red-dark);
}
