* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --grey: #bdbcbc;
  --black: #000;
  --black-grey-dark: #1c1c1c;
  --red-soft: #ee4f4f;
  --red: #d92323;
  --red-dark: #7a0404;
  --red-dark-2: #380101;
  --yellow-soft: #fcdea8;
  --gradient-red-orange-grey: linear-gradient(45deg, #b22222, #ff4500, #a9a9a9);
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    140deg,
    var(--red-dark) 0%,
    var(--red-dark-2) 50%,
    var(--black-grey-dark) 100%
  );
  font-family: "Poppins", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
  z-index: 1;
}

.server_msg-err {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--yellow-soft);
}

@media screen and (max-width: 450px) {
  #root {
    width: 95%;
  }
}
